<div class="user_profile">
  <img src="../../../assets/images/8.png" />
  <br>
  <p><%= label_tag "Name:" %> <%= @user.name %></p>
  <p><%= label_tag "Age:" %> <%= @user.age %></p>
  <p><span><%= label_tag "Home State:" %> <%= @homestate %></span></p>
</div>
