<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <link href='https://fonts.googleapis.com/css?family=Frijole|Oregano:400,400italic|Bowlby+One+SC|Cherry+Swash:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <% if session[:user_id] == @user.id %>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a id="custom_nav" class="navbar-brand" href="<%= edit_user_path(session[:user_id]) %>"/>Edit Information</a>
          <a id="custom_nav" class="navbar-brand" href="<%= rivers_path %>"/>See River Conditions</a>
          <a id="custom_nav" class="navbar-brand" href="<%= logout_path %>"/>Log Out</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
             <!--  nav here -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
        <div class="user_profile">
          <img src="../../assets/images/2.png" />
          <p><%= label_tag "Name:" %> <%= @user.name %></p>
          <p><%= label_tag "Age:" %> <%= @user.age %></p>
          <p><%= label_tag "Home State:" %> <%= @homestate %></p>

          <p><%= link_to "Edit Information", edit_user_path(@user) %></p>
          <p><%= link_to "Create a New Report", new_report_path %></p>
          <p><%= link_to "See All Your Reports", userreports_path %></p>
          <br>
          <br>
          <p><%= link_to "See River Conditions", rivers_path %></p>

          <%= button_to('Log Out', session_path(@user), {method: 'delete'}) %>
        </div>
      <%end %>
    </body>
  </html>
