
  <p><%= label_tag "Name:" %> <%= @user.name %></p>
  <p><%= label_tag "Age:" %> <%= @user.age %></p>
  <p><%= label_tag "Home State:" %> <%= @homestate %></p>


  <% if session[:user_id] == @user.id %>
    <p><%= link_to "Edit Information", edit_user_path(@user) %></p>
    <p><%= link_to "Create a New Post", new_post_path %></p>
    <p><%= link_to "See All Your Posts", userposts_path %></p>

    <br>
    <br>

    <p><%= link_to "See River Conditions", rivers_path %></p>


    <%= button_to('Log Out', session_path(@user), {method: 'delete'}) %>

  <%end %>

<!-- fix after creating new user, to be logged in as session -->
