<div class="river-data">
  <br>
  <br>
  <h1>Colorado Rivers</h1>
  <table class="river-table">
    <th id="river">River Name</th>
    <th id="river">Station Name</th>
    <th id="river">Gage Height in feet</th>
    <th id="river">Discharge in ft3/s</th>
      <% @rivers.each do |river| %>
        <tr>
          <td id="river-name">
            <%= river.name %>
          </td>
        </tr>
        <% river.stations.each do |station| %>
          <tr>
            <td id="skip river th">
              <%= " " %>
            </td>
            <td id="station-name">
              <%= station.station_name %>
            </td>
            <td id="gage-height">
              <%= station.gage_height %>
            </td>
            <td id="discharge">
              <%= station.discharge %>
            </td>
          </tr>
        <% end %>
      <% end %>
  </table>
</div>
