<h1>Edit your post</h1>
<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :text%>
  </p>
  <%= f.submit %>
<% end %>
