<h1>Create new report</h1>
<%= form_for @report do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :name, 'River' %>
    <%= f.collection_select(:river_id, River.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.label :highlights %>
    <%= f.text_area :highlights %>
  </p>

  <%= fields_for :fish do |fish| %>
    <label>Fish:</label>
    <p>
      <%= fish.label :species %>
      <%= fish.text_field :species %>
      <%= fish.label :weight %>
      <%= fish.text_field :weight %>
      <%= fish.label :length %>
      <%= fish.text_field :length %>
    </p>
  <% end %>

  <!-- <p>
    <%= f.label :fly %>
    <%= f.text_field :fly %>
  </p>
  <p>
    <%= f.label :weather %>
    <%= f.text_field :weather %>
  </p>
  <p>
    <%= f.label :water %>
    <%= f.text_field :water %>
  </p> -->

  <%= f.submit %>
<% end %>
