<% @reports.each do |report| %>
<p><label>Name:</label> <%= report.name %></p>
<p><label>Date:</label> <%= report.date %></p>
<p><label>River:</label> <%= report.river_id %></p>
<p><label>Rating:</label> <%= report.rating %></p>
<p><label>Highlights:</label> <%= report.highlights %></p>
<p><label>Fish:</label>
  <%= binding.pry %>
  <% fish = Fish.where(id: report.fish_id) %>
  <li>
    <label>Species:</label> <%= report.fish.species %>
  </li>
  <li>
    <label>Weight:</label> <%= report.fish.weight %>
  </li>
  <li>
    <label>Length:</label> <%= report.fish.length %>
  </li>

</p>
<p><label>Fly:</label> <%= report.fly_id %></p>
<p><label>Weather:</label> <%= report.weather_id %></p>
<p><label>Water:</label> <%= report.water_id %></p>
  <%= link_to "Edit report", edit_report_path(report) %>
<% end %>



<%= link_to "Back to profile page", user_path(session[:user_id]) %>
