<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <link href='https://fonts.googleapis.com/css?family=Frijole|Oregano:400,400italic|Bowlby+One+SC|Cherry+Swash:400,700' rel='stylesheet' type='text/css'>

  </head>
    <body>
      <div class="user-report">
        <% @reports.each do |report| %>
        <p><label>Name:</label> <%= report.name %></p>
        <p><label>Date:</label> <%= report.date %></p>
        <p><label>River:</label> <%= report.river.name %></p>
        <p><label>Rating:</label> <%= report.rating %></p>
        <p><label>Highlights:</label> <%= report.highlights %></p>
        <p><label>Fish:</label>
          <li>
            <label>Species:</label> <%= report.fish.species %>
          </li>
          <li>
            <label>Weight:</label> <%= report.fish.weight %>
          </li>
          <li>
            <label>Length:</label> <%= report.fish.length %>
          </li>
        </p>

        <p><label>Fly:</label>
          <li>
            <label>Name:</label> <%= report.fly.name %>
          </li>
          <li>
            <label>Description:</label> <%= report.fly.description %>
          </li>
          <li>
            <label>Color:</label> <%= report.fly.color %>
          </li>
          <li>
            <label>Size:</label> <%= report.fly.size %>
          </li>
        </p>

        <p><label>Weather:</label>
          <li>
            <label>Temperature:</label> <%= report.weather.temperature %>
          </li>
          <li>
            <label>Sky:</label> <%= report.weather.sky %>
          </li>
          <li>
            <label>Wind:</label> <%= report.weather.wind %>
          </li>
          <li>
            <label>Percipitation:</label> <%= report.weather.percipitation %>
          </li>
        </p>

        <p><label>Water:</label>
          <li>
            <label>Temperature:</label> <%= report.water.temperature %>
          </li>
          <li>
            <label>Flow:</label> <%= report.water.flow %>
          </li>
          <li>
            <label>Clarity:</label> <%= report.water.clarity %>
          </li>
        </p>
          <%= link_to "Edit report", edit_report_path(report) %>
          <br>
          <br>
          <br>
        <% end %>
        <br>
        <%= link_to "Back to profile page", user_path(session[:user_id]) %>
        <br>
      </div>
    </body>
  </head>
</html>

<!-- Refactor this! -->
