<% @reports.each do |report| %>
<p><label>Name:</label> <%= report.name %></p>
<p><label>Date:</label> <%= report.date %></p>
<p><label>River:</label> <%= report.river_id %></p>
<p><label>Rating:</label> <%= report.rating %></p>
<p><label>Highlights:</label> <%= report.highlights %></p>
<p><label>Fish:</label>
  <% fish = Fish.where(id: report.fish_id) %>
  <li>
    <label>Species:</label> <%= report.fish.species %>
  </li>
  <li>
    <label>Weight:</label> <%= report.fish.weight %>
  </li>
  <li>
    <label>Length:</label> <%= report.fish.length %>
  </li>
</p>

<p><label>Fly:</label>
  <% fly = Fly.where(id: report.fly_id) %>
  <li>
    <label>Name:</label> <%= report.fly.name %>
  </li>
  <li>
    <label>Description:</label> <%= report.fly.description %>
  </li>
  <li>
    <label>Color:</label> <%= report.fly.color %>
  </li>
  <li>
    <label>Size:</label> <%= report.fly.size %>
  </li>
</p>

<p><label>Weather:</label>
  <% weather = Weather.where(id: report.weather_id) %>
  <li>
    <label>Temperature:</label> <%= report.weather.temperature %>
  </li>
  <li>
    <label>Sky:</label> <%= report.weather.sky %>
  </li>
  <li>
    <label>Wind:</label> <%= report.weather.wind %>
  </li>
  <li>
    <label>Percipitation:</label> <%= report.weather.percipitation %>
  </li>
</p>

<p><label>Water:</label>
  <% water = Water.where(id: report.water_id) %>
  <li>
    <label>Temperature:</label> <%= report.water.temperature %>
  </li>
  <li>
    <label>Flow:</label> <%= report.water.flow %>
  </li>
  <li>
    <label>Clarity:</label> <%= report.water.clarity %>
  </li>
</p>
  <%= link_to "Edit report", edit_report_path(report) %>
  <br>
  <br>
  <br>
<% end %>




<%= link_to "Back to profile page", user_path(session[:user_id]) %>
<br>
