<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Gym</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <link href='https://fonts.googleapis.com/css?family=Frijole|Oregano:400,400italic|Bowlby+One+SC|Cherry+Swash:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>FLY FISHING FIELD LOG</h1>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
          <a id="sign_in" class="btn btn-primary btn-lg" href="<%= new_user_path %>"/>SIGN IN</a>
          <a id="sign_in" class="btn btn-primary btn-lg" href="<%= new_user_path %>"/>SIGN UP</a>
        </div>
      </div>
    </div>

    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
